.container{
    display: flex;
    flex-direction: column;    
    max-width: 300px;
    border-radius: 1.09rem;
    border: 1px solid #ebe8e8;
    width: 100%;
 }
h2{
    margin-left: 10%;
}
.container h3:hover{
color: black;
}
p{
    color: #787976;
    margin-left: 10%;
    margin-right: 5%;
}
h3{
    margin-left: 28%;
    font-size: 20px;
}
ul{
    font-size: 20px;
    color: #787976;
    list-style-type: square;

}
li::marker {
    color: #20c997;
  }
  